
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: black;
  color: rgb(223, 223, 223);
  font-family: 'Playfair Display', serif;
  margin: 0 auto;
  max-width: 120rem;
  padding: 2rem;
}

a{
  color:white;
  text-decoration: none;
}

li {
  list-style: none;
}

.title {
  font-size: 4.8rem;
  line-height: 4.4rem;
}

p,a, span{
  font-size: 1.8rem;
  line-height: 2.0rem;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 3.0rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.6rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.Home{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.Header{
  margin: 10rem 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.Header-Details{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Header img{
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  border: 0.2rem solid #fccb06; ;
}

.Navbar{
  color: white;
  font-size: 20rem;
  line-height: 2.6rem;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
  transition: all 1s ease;
}


.Navbar__link--active{
  color: #fccb06;
}

.Navbar:hover{

 
  border-bottom: 1px solid #fccb06;
}


.Navbar ul{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem 0;
}

.Navbar-Link a{
  font-size: 2.4rem;
  line-height: 3.0rem;
  transition: all 0.3s ease;
}

.Navbar-Link a:hover{
  color: #fccb06;

}

.Projects{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.Project{
  flex: 1 1 30%; /*grow | shrink | basis */
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.Project img {
  max-width:100%;
}


.Project-Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.Project-Item img{
  max-width:100%;
}

.Project-Item-Details{
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.Project-Item-Details a{
  text-decoration: underline;
}

.Project-Item-Details p span {
  font-style: italic;
  color: rgb(155, 155, 155);
}

@media only screen and (min-width: 600px) {
  .Project-Item {

    flex-direction: row;
   
  }

  .Project-Item img{
    max-width:50%;
  }
}